Repository titicacadev/triple-frontend, pull requests merged in 2023-07, with the labels that each got.

#2774 TransitionModal에 community TransitionType 추가
  packages/modals/src/transition-modal.tsx
Labels: modals

#2770 /api/users/me의 타입을 최신화합니다.
  packages/react-contexts/src/session-context/browser.tsx
  packages/react-contexts/src/session-context/user.ts
Labels: react-contexts

#2777 workspace root의 의존성 제거 및 이동
  package-lock.json
  package.json
  packages/core-elements/package.json
  packages/form/package.json
  packages/map/package.json
  packages/modals/package.json
  packages/react-contexts/package.json
Labels: core-elements, react-contexts, form, modals, map

#2785 focus trap 테스트가 랜덤하게 실패하는 현상 수정
  packages/action-sheet/src/action-sheet.test.tsx
  packages/modals/src/modal/modal.test.tsx
  packages/popup/src/popup.test.tsx
Labels: action-sheet, popup, modals

#2800 [react-contexts] ios cookie fixation 기준 버전 변경
  packages/react-contexts/src/middleware.ts
Labels: react-contexts

#2811 firebase 버전을 v9.15.0으로 다운그레이드합니다.
  jest.config.js
  package-lock.json
  packages/react-contexts/package.json
Labels: react-contexts

#2816 mockdate 대신 storybook-mock-date-decorator 사용
  .storybook/preview.js
  package-lock.json
  package.json
  packages/date-picker/src/day-picker.stories.tsx
  packages/date-picker/src/range-picker-v2.stories.tsx
  packages/date-picker/src/range-picker.stories.tsx
Labels: date-picker

#2829 react-contexts의 middleware export 경로를 복구합니다.
  packages/react-contexts/package.json
Labels: react-contexts
