Repository titicacadev/triple-frontend, pull requests merged in 2023-12, with the labels that each got.

#3012 [v14] react-contexts/images-context를 poi-detail/ImageCarouselProvider로 이동
  packages/tds-widget/src/poi-detail/image-carousel/provider.tsx
  packages/tds-widget/src/poi-detail/image-carousel/reducer.ts
  packages/tds-widget/src/poi-detail/index.ts
Labels: tds-widget

#3042 [v14] images-context 마이그레이션
  packages/tds-widget/src/poi-detail/image-carousel.stories.tsx
  packages/tds-widget/src/poi-detail/image-carousel/index.tsx
Labels: tds-widget

#3043 [v14] modals 마이그레이션
  packages/router/src/navigate/index.test.ts
  packages/tds-widget/src/booking-completion/index.tsx
  packages/tds-widget/src/replies/list/reply.tsx
  packages/tds-widget/src/replies/register.tsx
  packages/tds-widget/src/review/components/full-list-button.tsx
  packages/tds-widget/src/review/components/review-element/index.tsx
  packages/tds-widget/src/review/components/review-element/media/index.tsx
  packages/tds-widget/src/review/components/review-placeholder-with-rating.tsx
  packages/tds-widget/src/review/components/reviews-shorten.tsx
  packages/tds-widget/src/review/components/reviews.tsx
  packages/tds-widget/src/review/components/write-button.tsx
  packages/tds-widget/src/review/reviews-shorten.stories.tsx
  packages/tds-widget/src/review/reviews.stories.tsx
  packages/triple-document/src/elements/itinerary/use-handle-add-pois-to-trip.ts
  packages/ui-flow/src/use-session-callback.test.tsx
  packages/ui-flow/src/use-session-callback.ts
Labels: triple-document, router, ui-flow, tds-widget

#3057 ExtendedResourceListElement badge 디자인 수정
  packages/resource-list-element/src/extended-resource-list-element.tsx
Labels: resource-list-element

#3064 [react-contexts] 틱톡 픽셀의 누락된 track 메소드를 추가합니다.
  packages/react-contexts/src/event-tracking-context/event-tracking-context.tsx
Labels: react-contexts

#3061 [v14] standard-action-handler 마이그레이션
  packages/standard-action-handler/src/converse.tsx
  packages/tds-ui/package.json
  pnpm-lock.yaml
Labels: standard-action-handler, tds-ui

#3065 [v14 ] Popup export 문법을 수정합니다.
  packages/tds-ui/src/components/popup/popup.stories.tsx
  packages/tds-ui/src/components/popup/popup.test.tsx
  packages/tds-ui/src/components/popup/popup.tsx
Labels: tds-ui

#3072 [v14] useClientAppActions import path 수정
  packages/router/package.json
  packages/router/src/navigate/use-navigate.test.ts
  packages/standard-action-handler/package.json
  packages/tds-widget/package.json
  packages/tds-widget/src/poi-detail/detail-header-v2/index.test.tsx
  packages/tds-widget/src/poi-detail/detail-header/index.test.tsx
  packages/tds-widget/src/replies/list/index.tsx
  packages/tds-widget/src/review/components/filter-context.tsx
  packages/tds-widget/src/review/components/infinite-list/infinite-list.tsx
  packages/tds-widget/src/review/components/my-review-action-sheet.tsx
  packages/tds-widget/src/review/components/review-element/index.tsx
  packages/tds-widget/src/review/components/reviews-shorten.tsx
  packages/tds-widget/src/review/components/reviews.tsx
  packages/tds-widget/src/review/components/shorten-list/reviews-list.tsx
  packages/tds-widget/src/review/components/sorting-context.tsx
  packages/tds-widget/src/review/services/use-client-actions.tsx
  packages/tds-widget/src/review/services/use-reviews.ts
  packages/tds-widget/src/scrap/use-scrap.ts
  packages/tds-widget/src/user-verification/verified-message.spec.ts
  packages/tds-widget/src/user-verification/verified-message.ts
  packages/triple-document/package.json
  packages/triple-header/package.json
  packages/triple-web/src/hooks/client-app/index.ts
  packages/ui-flow/package.json
Labels: triple-document, router, standard-action-handler, ui-flow, triple-header, tds-widget, triple-web

#3074 [meta-tags] 리뷰 스니펫에 inLanguage 항목을 추가합니다.
  packages/meta-tags/src/types/schema.ts
Labels: meta-tags
