Repository titicacadev/triple-frontend, pull requests merged in 2023-05, with the labels that each got.

#2581 [core-elements] CheckboxGroup, RadioGroup 접근성 수정
  packages/core-elements/src/elements/checkbox-group/checkbox-group-context.tsx
  packages/core-elements/src/elements/checkbox-group/checkbox-group-error.tsx
  packages/core-elements/src/elements/checkbox-group/checkbox-group-help.tsx
  packages/core-elements/src/elements/checkbox-group/checkbox-group-label.tsx
  packages/core-elements/src/elements/checkbox-group/checkbox-group.stories.tsx
  packages/core-elements/src/elements/checkbox-group/checkbox-group.tsx
  packages/core-elements/src/elements/checkbox-group/index.ts
  packages/core-elements/src/elements/checkbox-group/use-checkbox-group.tsx
  packages/core-elements/src/elements/checkbox/checkbox-group.stories.tsx
  packages/core-elements/src/elements/checkbox/checkbox-group.tsx
  packages/core-elements/src/elements/checkbox/checkbox.tsx
  packages/core-elements/src/elements/checkbox/index.ts
  packages/core-elements/src/elements/gender-selector/gender-selector-item.tsx
  packages/core-elements/src/elements/gender-selector/gender-selector.tsx
  packages/core-elements/src/elements/radio-group/index.ts
  packages/core-elements/src/elements/radio-group/radio-group-context.tsx
  packages/core-elements/src/elements/radio-group/radio-group-error.tsx
  packages/core-elements/src/elements/radio-group/radio-group-help.tsx
  packages/core-elements/src/elements/radio-group/radio-group-label.tsx
  packages/core-elements/src/elements/radio-group/radio-group.stories.tsx
  packages/core-elements/src/elements/radio-group/radio-group.tsx
  packages/core-elements/src/elements/radio-group/use-radio-group.tsx
  packages/core-elements/src/elements/radio/index.ts
  packages/core-elements/src/elements/radio/radio-group.stories.tsx
  packages/core-elements/src/elements/radio/radio-group.tsx
  packages/core-elements/src/elements/radio/radio.tsx
Labels: core-elements

#2610 [triple-email-document] 링크 Element에 존재하는 URL 변환하는 로직을 제거합니다.
  package-lock.json
  packages/triple-email-document/package.json
  packages/triple-email-document/src/elements/links.tsx
  packages/triple-email-document/src/links.stories.tsx
  packages/triple-email-document/src/triple-email-document.tsx
  packages/triple-email-document/tsconfig.json
Labels: 📮 triple-email-document

#2639 [ Router ] LocalLink 컴포넌트에 shallow property를 추가합니다.
  packages/router/src/local/href-handler.ts
  packages/router/src/local/link.tsx
Labels: router

#2646 [Footer] 로그인 버튼 a -> button으로 수정
  packages/footer/src/company-info.tsx
Labels: footer

#2653 [meta-tags] article script의 date 형식에 validation을 추가합니다.
  packages/meta-tags/src/article-script.tsx
  packages/meta-tags/src/utils.ts
Labels: meta-tags

#2661 [modals] Modal height가 스크린 높이보다 커도 스크롤 가능하도록 수정
  packages/modals/src/modal/modal-actions.tsx
  packages/modals/src/modal/modal.stories.tsx
  packages/modals/src/modal/modal.tsx
Labels: modals
