Repository titicacadev/triple-frontend, pull requests merged in 2023-09, with the labels that each got.

#2858 [resource-list-element] 광고 표기 위치와 디자인을 수정합니다.
  packages/resource-list-element/src/extended-resource-list-element.tsx
Labels: resource-list-element

#2884 Chat에 disableUnreadCount props를 추가합니다.
  packages/chat/src/chat-bubble/chat-bubble.tsx
  packages/chat/src/chat/chat.tsx
Labels: chat

#2900 [Chat] RoomInterface에 roomType을 추가합니다.
  packages/chat/src/types/index.ts
  packages/chat/src/utils/constants.ts
Labels: chat

#2903 [LocationProperties] 액션시트에서 누락된 주소를 복원합니다.
  packages/location-properties/src/location-properties.tsx
Labels: location-properties

#2905 [Chat] 채팅 리트라이 이벤트를 위한 props를 추가합니다.
  packages/chat/src/chat-bubble/chat-bubble-ui.tsx
  packages/chat/src/chat-bubble/chat-bubble.tsx
  packages/chat/src/chat/chat.tsx
Labels: chat

#2912 web storage error boundary 컴포넌트 타입 수정
  packages/web-storage/src/boundary.tsx
Labels: web-storage

#2918 구글맵 load script 언어 옵션 추가
  packages/map/src/map-view.tsx
Labels: map

#2923 i18n 영어 설정을 추가합니다.
  packages/i18n/src/assets/en/common-web.ts
  packages/i18n/src/next-i18next.config.js
Labels: i18n
