Repository titicacadev/triple-frontend, pull requests merged in 2023-11, with the labels that each got.

#2979 [action-sheet] action sheet item에 아이콘 추가
  packages/action-sheet/src/action-sheet-item.tsx
Labels: action-sheet

#2988 [chat] beforeSendMessages를 리듀서에서 제거합니다.
  packages/chat/src/chat/chat.tsx
  packages/chat/src/chat/reducer.ts
Labels: chat

#2989 [Poi-list-elements] POI의 이름과 리전명 영역에 대표어값이 가장 우선적으로 표기되도록 함
  packages/poi-list-elements/src/carousel-element.tsx
  packages/poi-list-elements/src/compact-poi-list-element.tsx
Labels: poi-list-elements

#3005 [Chat refactor] Messages 컴포넌트 export 추가
  packages/chat/src/index.ts
Labels: chat

#3015 [view-utilities] 로그인 없이 이동할 수 있는 페이지 주소 목록에 웹일정판 path 추가
  packages/view-utilities/src/routelist/routelist.ts
Labels: view-utilities
