Repository titicacadev/triple-frontend, pull requests merged in 2023-08, with the labels that each got.

#2740 feat: debounce에 leading, trailing 옵션 추가
  packages/view-utilities/src/debounce.ts
Labels: view-utilities

#2834 현지에서 길묻기 ellipsis 옵션 삭제
  packages/directions-finder/src/ask-to-the-local.tsx
Labels: directions-finder

#2838 [chat] chat image url 생성 시 cloudinaryBucket을 우선적으로 사용하도록 변경
  packages/chat/src/utils/image.ts
Labels: chat

#2824 [slider] SliderBase disabled 상태 추가
  packages/slider/src/range-slider.stories.tsx
  packages/slider/src/single-slider.stories.tsx
  packages/slider/src/slider-base.tsx
Labels: slider
