Repository titicacadev/triple-frontend, pull requests merged in 2024-11, with the labels that each got.

#3442 user-verification service export 추가
  packages/tds-widget/src/user-verification/index.ts
Labels: tds-widget

#3463 Card radius prop 이름 변경
  packages/tds-ui/src/components/segment/segment.tsx
Labels: tds-ui

#3439 [MAC용 트리플 앱 개발 지원] client meta data에 isMacApp 플래그 추가
  packages/react-triple-client-interfaces/src/triple-client-metadata-context.tsx
  packages/react-triple-client-interfaces/src/triple-client-user-agent.ts
  packages/react-triple-client-interfaces/src/types.ts
Labels: react-triple-client-interfaces

#3469 ScrapsProvider에 onScrapeFailed prop 넘길 수 있도록 추가
  packages/tds-widget/src/scrap/provider.tsx
Labels: tds-widget

#3470 Carousel containerPadding, margin prop 복구
  packages/tds-ui/src/components/carousel/carousel.stories.tsx
  packages/tds-ui/src/components/carousel/carousel.tsx
Labels: tds-ui

#3482 Link 컴포넌트에서 불필요한 inline style 제거
  packages/router/src/common/router-guarded-link.tsx
Labels: router
