Repository titicacadev/triple-frontend, pull requests merged in 2024-12, with the labels that each got.

#3489 앱 외부에서도 스크랩이 가능하도록 옵션 추가
  packages/tds-widget/src/scrap/use-scrap.ts
Labels: tds-widget

#3488 LoginCtaModal 기본 return url에서 hash 제거
  packages/triple-web/src/modal/components/login-cta-modal.tsx
Labels: triple-web

#3493 [tds-widget] beforeScrapedChange시 파람에 eventParam을 넘기도록 수정합니다.
  packages/tds-widget/src/scrap/use-scrap.ts
Labels: tds-widget

#3496 [triple-web] 모달을 띄울 때 trackScreen이 호출되는 문제를 해결합니다.
  packages/triple-web-nextjs/src/event-tracking-provider.tsx
Labels: triple-web

#3497 [triple-web] 로그인 모달 버튼 함수 수정
  packages/triple-web/src/modal/components/login-cta-modal.tsx
Labels: triple-web

#3503 KLZT-766 영상기본음소거
  packages/triple-media/src/triple-media.tsx
  packages/type-definitions/src/image.ts
Labels: type-definitions, triple-media, tds-widget

#3507 [triple-web] web track event는 클라이언트 웹뷰가 아닐 때만 로깅하도록 수정합니다.
  packages/triple-web/src/event-tracking/utils/track-event.ts
Labels: triple-web

#3505 [footer] 푸터의 회사명, 대표명을 변경합니다.
  packages/footer/src/award-footer.tsx
  packages/footer/src/company-info.tsx
  packages/footer/src/default-footer.tsx
Labels: footer

#3509 [Reivew] 리뷰 플레이스홀더 마진 값을 수정합니다.
  packages/review/src/components/review-placeholder-with-rating.tsx
Labels: review

#3516 [footer] 푸터의 맞춤법을 수정합니다.
  packages/footer/src/award-footer.tsx
  packages/footer/src/default-footer.tsx
Labels: footer

#3521 v13.38.1 변경사항을 적용합니다.
  CHANGELOG.md
  packages/tds-widget/src/footer/award-footer.tsx
  packages/tds-widget/src/footer/default-footer.tsx
Labels: tds-widget
