Repository titicacadev/triple-frontend, pull requests merged in 2024-01, with the labels that each got.

#3082 [directions-finder] grab 호출 버튼에 Intersecting Observer를 추가합니다.
  packages/directions-finder/package.json
  packages/directions-finder/src/direction-buttons.tsx
  pnpm-lock.yaml
Labels: directions-finder

#3084 [v14] 린트 수정
  packages/tds-widget/.eslintignore
  packages/tds-widget/.prettierignore
  packages/tds-widget/src/.stylelintignore
  packages/tds-widget/src/nearby-pois/poi-entry.tsx
  packages/tds-widget/src/scrap-button/scrap-button-mask.test.tsx
Labels: tds-widget

#3079 [meta-tags] reviewRating에 bestRating, worstRating을 추가합니다.
  packages/meta-tags/src/types/schema.ts
Labels: meta-tags

#3088 [Chat] react-triple-client-interfaces의 Dependencies 수정
  packages/chat/package.json
  pnpm-lock.yaml
Labels: chat, refactoring

#3095 [chat refactor] 메세지에 unreadCount를 계산하기 위한 prop을 추가합니다.
  packages/chat/src/messages.tsx
Labels: chat, refactoring

#3115 [review] 좋아요 카운트 버그 수정
  packages/review/src/components/review-element/index.tsx
  packages/review/src/services/use-reviews.ts
Labels: review
