Repository titicacadev/triple-frontend, pull requests merged in 2024-05, with the labels that each got.

#3225 TranslatedProperty 타입을 최신화합니다.
  packages/type-definitions/src/translated-property.ts
Labels: type-definitions

#3235 [triple-document] sticky-tabs의 z-index 수정
  packages/triple-document/src/elements/sticky-tabs.tsx
Labels: triple-document

#3239 [view-utilities] 맞춤일정 페이지를 routelist에 추가합니다.
  packages/view-utilities/src/routelist/routelist.ts
Labels: view-utilities

#3244 fix: input error border-color 변경
  packages/core-elements/src/elements/input/input.tsx
Labels: core-elements

#3247 [footer] 인터파크 사업장 주소 변경
  packages/footer/src/company-info.tsx
Labels: footer
