Repository titicacadev/triple-frontend, pull requests merged in 2024-10, with the labels that each got.

#3413 [KLZT-622] 푸터 주소 변경
  packages/footer/src/company-info.tsx
Labels: footer

#3423 node querystring 대신 qs 사용
  packages/tds-widget/src/poi-detail/use-fetch-images.tsx
Labels: tds-widget

#3425 [KLZT-655] 리뷰 정렬 옵션 변경 시 무관한 element로 포커싱이 되는 버그를 수정합니다.
  packages/review/src/components/sorting-options.tsx
Labels: review

#3433 [WATF-397] 리뷰 컴포넌트 내 배너를 prop으로 받도록 수정합니다.
  packages/review/src/components/reviews-shorten.tsx
  packages/review/src/customized-schedule-banner.tsx
Labels: review

#3435 [KLZT-671] 푸터 내 통신판매업 신고번호 변경
  packages/footer/src/company-info.tsx
Labels: footer

#3440 useClientAppCallback의 fn, appInstallCtaModalOptions 파라미터 순서 변경
  packages/triple-web/src/client-app/use-client-app-callback.mdx
  packages/triple-web/src/client-app/use-client-app-callback.test.tsx
  packages/triple-web/src/client-app/use-client-app-callback.ts
Labels: triple-web

#3443 [KLZT-677] routelist에 tna, air hub 추가
  packages/view-utilities/src/routelist/routelist.ts
Labels: view-utilities
