Repository titicacadev/triple-frontend, pull requests merged in 2024-03, with the labels that each got.

#3147 [geochat] 대체 말풍선 컬러 버그 수정
  packages/chat/src/bubble/altered.tsx
Labels: chat

#3154 [view-utilities] 말줄임 함수 수정
  packages/view-utilities/src/find-folded-position.ts
Labels: view-utilities

#3148 [triple-document] note가 markdownText를 지원하도록 수정합니다.
  packages/triple-document/src/elements/note.tsx
Labels: triple-document

#3160 [view-utilities] 항공 시세 페이지를 routelist에 추가합니다.
  packages/view-utilities/src/routelist/routelist.ts
Labels: view-utilities

#3157 [modals] loginCtaModal의 로그인 클릭시에도 리퍼럴 이벤트를 기록하도록 수정합니다.
  packages/modals/src/login-cta-modal.tsx
Labels: modals

#3167 [reviews] 리뷰 더보기의 로그인 returnUrl을 리뷰 목록 페이지로 수정합니다.
  packages/review/src/services/use-client-actions.tsx
Labels: review

#3176 [image-viewer] 더블 클릭으로 인한 이미지 확대를 disable합니다.
  packages/image-viewer/src/detail-viewer/image.tsx
Labels: image-viewer
