Repository titicacadev/triple-frontend, pull requests merged in 2024-04, with the labels that each got.

#3179 [reviews] 이미지 확대뷰 QA
  packages/review/src/components/review-element/media/index.tsx
Labels: image-viewer

#3163 [meta-tags] 불필요 주석 제거
  packages/meta-tags/src/apple-smart-banner-meta.tsx
  packages/meta-tags/src/article-script.tsx
  packages/meta-tags/src/breadcrumb-list-script.tsx
  packages/meta-tags/src/common-meta.tsx
  packages/meta-tags/src/essential-content-meta.tsx
  packages/meta-tags/src/facebook-app-link-meta.tsx
  packages/meta-tags/src/facebook-open-graph-meta.tsx
  packages/meta-tags/src/local-business-script.tsx
  packages/meta-tags/src/product-script.tsx
  packages/meta-tags/src/review-script.tsx
  packages/meta-tags/src/theme-color-meta.tsx
Labels: meta-tags

#3174 [poi-detail] 이지역꿀정보의 fa를 추가합니다.
  packages/poi-detail/src/recommended-articles/recommended-articles.tsx
Labels: poi-detail

#3180 [reviews] 유저 photo가 없을 때 디폴트 프로필을 설정합니다.
  packages/review/src/components/review-element/user.tsx
Labels: review

#3177 [triple-document] itinerary의 transportation 타입에 bike를 추가합니다.
  packages/triple-document/package.json
  packages/triple-document/src/elements/itinerary.tsx
  packages/triple-document/src/elements/itinerary/icons.tsx
  pnpm-lock.yaml
Labels: triple-document

#3182 [modals] 앱설치유도 모달에 POI 기본정보 type을 추가합니다.
  packages/modals/src/transition-modal.tsx
Labels: modals

#3183 [public-header] 헤더 로고에 onClick props를 추가합니다.
  packages/public-header/src/public-header.tsx
Labels: public-header

#3187 [image-viewer] 첫번째 이미지를 클릭했을 때 비정상적으로 작동하는 버그를 수정합니다.
  packages/image-viewer/src/image-viewer.tsx
Labels: image-viewer
