Repository titicacadev/triple-frontend, pull requests merged in 2024-07, with the labels that each got.

#3304 [react-hooks] user 타입에 email 필드를 추가합니다.
  packages/react-contexts/src/session-context/user.ts
Labels: react-contexts, react-hooks

#3295 [action-sheet] 액션 시트에서 lockScroll을 해제할 수 있도록 옵션 제공
  packages/action-sheet/src/action-sheet-overlay.tsx
  packages/action-sheet/src/action-sheet.tsx
Labels: action-sheet

#3310 [react-contexts] user의 마일리지 뱃지 이미지 타입을 수정합니다.
  packages/react-contexts/src/session-context/user.ts
Labels: react-contexts

#3313 [action-sheet] pointer select revert
  packages/action-sheet/src/action-sheet.tsx
Labels: action-sheet

#3329 [ footer] 푸터 통신판매업 신고번호를 변경합니다.
  packages/footer/src/company-info.tsx
Labels: footer
