Repository titicacadev/triple-frontend, pull requests merged in 2024-02, with the labels that each got.

#3126 [poi-detail] DetailHeader의 아이콘을 정렬합니다.
  packages/poi-detail/src/detail-header/business-hours-note.tsx
Labels: poi-detail

#3127 [chat] 메세지에 답장하기 아이콘을 추가합니다.
  packages/chat/src/bubble-container/bubble-container.tsx
  packages/chat/src/bubble-container/bubble-info.tsx
  packages/chat/src/icons/reply-meesage-icon.tsx
  packages/chat/src/messages/index.tsx
Labels: chat

#3109 [chat] 메세지에 IntersectionObserver와 ref를 추가합니다.
  packages/chat/src/bubble-container/bubble-container.tsx
  packages/chat/src/messages/index.tsx
Labels: chat

#3132 [chat] 답장하기 아이콘의 렌더링 조건을 수정합니다.
  packages/chat/src/messages/index.tsx
Labels: chat

#3136 [geochat] AlteredBubble에서는 부모 메시지 노출하지 않도록 변경
  packages/chat/src/bubble/altered.tsx
Labels: chat

#3141 [nearby-pois] pois 중복을 제거하는 로직을 수정합니다.
  packages/nearby-pois/src/reducer.ts
Labels: nearby-pois

#3144 TransitionModal에 타입을 추가합니다.
  packages/modals/src/transition-modal.tsx
Labels: modals
