Repository titicacadev/triple-frontend, pull requests merged in 2025-01, with the labels that each got.

#3532 [tds-ui] onChange 함수가 중복 실행되지 않도록 수정합니다.
  packages/tds-ui/src/components/tabs/tab-base.tsx
  packages/tds-ui/src/components/tabs/tabs-context.tsx
  packages/tds-ui/src/components/tabs/tabs.tsx
Labels: tds-ui

#3536 [triple-web] 웹뷰에서는 nativeTrackScreen만 실행하도록 수정합니다.
  packages/triple-web/src/event-tracking/utils/track-screen.ts
Labels: triple-web

#3543 [footer] 푸터 내 문의메일 정보 변경
  packages/footer/src/company-info.tsx
Labels: footer

#3540 [triple-web] 앱설치유도 모달 및 로그인 모달의 showOptions를 수정합니다.
  packages/triple-web/src/modal/use-app-install-cta-modal.ts
  packages/triple-web/src/modal/use-login-cta-modal.ts
Labels: triple-web

#3542 tna public_routerlist 정규식 수정
  packages/view-utilities/src/routelist/routelist.ts
Labels: view-utilities

#3551 [chat] aTagNavigator가 외부 브라우저에서 열리도록 수정합니다.
  packages/chat/src/utils/a-tag-navigator.ts
Labels: chat

#3552 (chat)fix: file input에 사진만 업로드 가능하도록 accept 추가
  packages/chat/src/input-area/index.tsx
Labels: chat
