Repository titicacadev/triple-frontend, pull requests merged in 2025-03, with the labels that each got.

#3574 (Chat) 채팅 버블 부가 정보 커스텀 스타일 프롭스 추가
  packages/tds-widget/src/chat/bubble-container/bubble-container.tsx
  packages/tds-widget/src/chat/bubble-container/bubble-info.tsx
  packages/tds-widget/src/chat/messages/date-divider.tsx
  packages/tds-widget/src/chat/messages/index.tsx
Labels: tds-widget

#3586 tds-widget/chat에서 triple-web 디펜던시를 제거
  packages/tds-widget/src/chat/chat/chat-scroll-container.tsx
Labels: tds-widget

#3594 [react-contexts] setWebDeviceId 미들웨어에 applySetCookie를 적용합니다.
  packages/react-contexts/src/middlewares/set-web-device-id.ts
Labels: react-contexts

#3596 [KLZT-885] routelist에 static-pages, community, game을 추가합니다.
  packages/view-utilities/src/routelist/routelist.ts
Labels: view-utilities

#3609 [react-contexts] 미들웨어에 chain 및 기타 미들웨어의 export를 추가합니다.
  packages/react-contexts/src/middlewares/index.ts
Labels: react-contexts

#3581 [react-contexts] NOL 통합 유저일 경우 로그아웃시 redirect합니다.
  packages/react-contexts/src/session-context/browser.tsx
  packages/react-contexts/src/session-context/redirect.spec.ts
  packages/react-contexts/src/session-context/redirect.ts
Labels: react-contexts

#3610 [react-contexts] setWebDeviceId 미들웨어에 domain을 추가합니다.
  packages/react-contexts/src/middlewares/set-web-device-id.ts
Labels: react-contexts

#3623 fix: onChatRestart 기본값 제거
  packages/tds-widget/src/chat/expired/expired.tsx
Labels: tds-widget

#3620 [DMTALK-88] 초대 및 채팅방 만료 정책 타입 추가
  packages/tds-widget/src/chat/types/room.ts
Labels: tds-widget

#3626 (Chat) nol-chat getMessages 응답값 migration
  packages/tds-widget/src/chat/chat/chat-room-messages/chat-api-service.ts
  packages/tds-widget/src/chat/chat/chat-room-messages/chat-message-context.tsx
  packages/tds-widget/src/chat/chat/chat-room-messages/use-chat-room-messages.ts
  packages/tds-widget/src/chat/chat/messages-reducer.ts
Labels: tds-widget
