Repository titicacadev/triple-frontend, pull requests merged in 2025-04, with the labels that each got.

#3629 [DMTALK] 조건문 내 오타 수정
  packages/tds-widget/src/chat/chat/chat-room-messages/chat-message-context.tsx
Labels: tds-widget

#3633 [DMTALK] `ProductMetaData, BookingMetaData` type 스웨거와 싱크
  packages/tds-widget/src/chat/types/room.ts
Labels: tds-widget

#3635 [DMTALK] refactor: export 네이밍 변경
  packages/tds-widget/src/chat/expired/index.ts
  packages/tds-widget/src/chat/input-area/index.tsx
  packages/tds-widget/src/chat/input-area/nol-input-area-ui/index.tsx
Labels: tds-widget

#3639 [DMTALK] get messages 응답 인터페이스 변경 대응
  packages/tds-widget/src/chat/chat/chat-room-messages/chat-api-service.ts
  packages/tds-widget/src/chat/chat/chat-room-messages/chat-message-context.tsx
  packages/tds-widget/src/chat/chat/chat-room-messages/use-chat-room-messages.ts
  packages/tds-widget/src/chat/chat/messages-reducer.ts
Labels: tds-widget

#3645 [fetcher] authFetcherize에서 refresh의 apiUriBase를 fetcher와 통일합니다.
  packages/fetcher/src/factories.ts
Labels: fetcher

#3649 middleware 내부에서 httpError 로깅 추가 및 x-soto-session 제거 로직 삭제
  packages/react-contexts/src/middlewares/refresh-session.ts
Labels: react-contexts

#3648 [footer] footer의 disclaimer maxWidth 삭제
  packages/footer/src/award-footer.tsx
Labels: footer

#3647 [DMTALK-126] 첫 메시지 전송 시 룸 생성 전 pending message 처리
  packages/tds-widget/src/chat/chat/chat-room-messages/use-chat-room-messages.ts
Labels: tds-widget

#3650 [DMTALK-135] 예약정보 UI 디자인 수정 반영
  packages/tds-widget/src/chat/reservation-info/elements.tsx
  packages/tds-widget/src/chat/reservation-info/reservation-info.tsx
Labels: tds-widget

#3652 [footer] 푸터 버튼에 key props를 추가합니다.
  packages/footer/src/button-area/button.tsx
  packages/footer/src/button-area/index.tsx
Labels: footer

#3653 [DMTALK-133] 상대방 메시지 실시간 받을 경우 스크롤이 올라가도록 수정
  packages/tds-widget/src/chat/chat/chat-room-messages/use-scroll.tsx
  packages/tds-widget/src/chat/scroll-buttons-area/index.tsx
Labels: tds-widget

#3656 [review] queryFn return 추가
  packages/review/src/services/use-reviews.ts
Labels: review

#3659 [public-header] NOL 멤버스 문구를 NOL 회원으로 변경합니다.
  packages/public-header/src/side-menu/profile.tsx
Labels: public-header

#3662 [DMTALK] 잘못된 간격 수정
  packages/tds-widget/src/chat/bubble/nol/full-text-view/elements.tsx
  packages/tds-widget/src/chat/bubble/nol/styles.ts
Labels: tds-widget

#3664 [tds-widget] scrap에 authGuard 추가
  packages/tds-widget/src/scrap/services.ts
  packages/tds-widget/src/scrap/use-scrap.ts
Labels: tds-widget

#3667 [DMTALK-158] 누락된 디펜던시 및 message sanitize 추가
  packages/tds-widget/src/chat/chat/chat-room-messages/use-chat-room-messages.ts
Labels: tds-widget

#3663 [DMTALK-130] 안드로이드 스크롤 오류 관련 프롭스 추가
  packages/tds-widget/src/chat/input-area/nol-input-area-ui/index.tsx
  packages/tds-widget/src/chat/scroll-buttons-area/index.tsx
Labels: tds-widget

#3668 [DMTALK] 채팅창 상세에서 상품/예약정보 접기펼치기 영역 확대
  packages/tds-widget/src/chat/reservation-info/elements.tsx
  packages/tds-widget/src/chat/reservation-info/reservation-info.tsx
Labels: tds-widget

#3618 [triple-web-nextjs-pages] 앱/웹 구분 없이 authFetcherize를 추가합니다.
  packages/triple-web-nextjs-pages/src/initializers/session.ts
Labels: triple-web-nextjs-pages

#3670 [DMTALK] 상품/예약정보 접기펼치기 영역 - 클릭이벤트 조건 수정
  packages/tds-widget/src/chat/reservation-info/reservation-info.tsx
Labels: tds-widget

#3672 [triple-web-nextjs] 웹/앱 구분 없이 세션 갱신을 시도합니다.
  packages/triple-web-nextjs/src/initializers/session.ts
Labels: triple-web-nextjs

#3680 reservation info min-height 수정
  packages/tds-widget/src/chat/reservation-info/elements.tsx
Labels: tds-widget
