Repository titicacadev/triple-frontend, pull requests merged in 2025-06, with the labels that each got.

#3711 [DMTALK-396] 프로필 이미지 object-fit 변경
  packages/tds-widget/src/chat/bubble-container/elements.tsx
  packages/tds-widget/src/chat/reservation-info/elements.tsx
Labels: tds-widget

#3718 [DMTALK-374] parent message로 스크롤 되지 않는 오류 수정
  packages/tds-widget/src/chat/messages/index.tsx
Labels: tds-widget

#3716 [tds-ui] carousel-item 추가 prop 받을 수 있도록 수정
  packages/tds-ui/src/components/carousel/carousel-item.tsx
Labels: tds-ui

#3722 [DMTALK-425] input resize observer 옵션 변경
  packages/tds-widget/src/chat/input-area/nol-input-area-ui/use-input-resize-observer.ts
Labels: tds-widget

#3717 [middleware] next14용 미들웨어에 applySetCookie 적용
  packages/middlewares/src/refresh-session/next-14.ts
Labels: middlewares

#3730 fix: rebase 누락 적용
  packages/tds-widget/src/chat/chat/chat-room-messages/use-chat-room-messages.ts
Labels: tds-widget
